@import '../util/colors';
@import '../util/variables';

html {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: $gray;
	background: -moz-radial-gradient(center, ellipse cover, $gray 0%, $gray-dark 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $gray), color-stop(100%, $gray-dark));
	background: -webkit-radial-gradient(center, ellipse cover, $gray 0%, $gray-dark 100%);
	background: -o-radial-gradient(center, ellipse cover, $gray 0%, $gray-dark 100%);
	background: -ms-radial-gradient(center, ellipse cover, $gray 0%, $gray-dark 100%);
	background: radial-gradient(ellipse at center, $gray 0%, $gray-dark 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gray', endColorstr='$gray-dark',GradientType=1 );
}

.logo {
	margin: 0;
	text-align: right;
	height: 1.5em;
	line-height: 1.5em;
	padding: 2px 8px;
	color: $primary;

	background: -moz-linear-gradient(0deg, rgba(56,56,56,0) 0%, rgba(56,56,56,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(56,56,56,0)), color-stop(100%, rgba(56,56,56,1)));
	background: -webkit-linear-gradient(0deg, rgba(56,56,56,0) 0%, rgba(56,56,56,1) 100%);
	background: -o-linear-gradient(0deg, rgba(56,56,56,0) 0%, rgba(56,56,56,1) 100%);
	background: -ms-linear-gradient(0deg, rgba(56,56,56,0) 0%, rgba(56,56,56,1) 100%);
	background: linear-gradient(90deg, rgba(56,56,56,0) 0%, rgba(56,56,56,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#383838',GradientType=1 );
}

#app {
	position: relative;
}

main {
	padding: 0 2px;
	min-height: calc(100vh - 2.8em);
}
