@import '../util/colors';

.link-list {
	margin-top: 1em;
	font-size: 0.8em;
	ul {
		list-style-type: none;
		margin: 0;
		padding-left: 1em;
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			cursor: pointer;
			color: $primary2;
		}
		&:active { color: $gray; }
	}
}
