@import '../util/colors';
@import '../util/variables';

$mainmenu-w-xs: 100vw;
$mainmenu-w-sm: 50vw;
$mainmenu-w-md: 30vw;
$mainmenu-w-lg: 20vw;

.mainmenu-toggle {
	background-color: transparent;
	border: 0;
	outline: none;
	cursor: pointer;

	width: 2.5em;
	height: 2.5em;
	position: absolute;
	top: 4px;
	left: 4px;
	padding: 0;

	z-index: 100;

	span, span:before, span:after {
		border-radius: 1px;
		height: 5px;
		width: 100%; // 35px
		background: $primary;
		position: absolute;
		display: block;
		content: '';
		transition: all $trans-time-fast ease-in-out;
	}
	span:before { top: -12px; }
	span:after { bottom: -12px; }

	&.open span { background-color: transparent; }
	&.open span:before { transform: rotate(45deg); top: 0; }
	&.open span:after { transform: rotate(-45deg); bottom: 0; }
}

.mainmenu {
	font-family: 'Ubuntu', sans-serif;
	background-color: $gray-darker;

	position: absolute;
	height: 100vh;
	width: $mainmenu-w-xs;

	overflow-y: auto;

	left: -$mainmenu-w-xs;
	transition: $trans-time-fast;

	&.open {
		left: 0;
		transition: $trans-time-fast;
		// left: 10%;
		// width: 90%;
		// animation: content-open 0.5s ease;
	}
	// &.closed {
	// 	animation: content-close 0.5s ease;
	// }
}

nav {
	margin: 3em 2px 0;

	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		height: 2.5em;

		a {
			display: block;
			height: 100%;
			line-height: 2.5em;
			padding: 2px 8px;

			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			color: $primary;

			&:hover {
				color: $primary2;
				border: 1px solid $primary2;
				line-height: calc(2.5em - 2px);
				padding: 2px 7px;
			}
			&:active {
				color: $gray-light;
				border: 1px solid $gray-light;
			}
		}

	}
}

@media (min-width: $bp-sm) {
	.mainmenu {
		left: -$mainmenu-w-sm;
		width: $mainmenu-w-sm;
	}
	// .mainmenu-toggle.open {
	// 	left: calc(40vw - 4px);
	// }
}

@media (min-width: $bp-md) {
	.mainmenu {
		left: -$mainmenu-w-md;
		width: $mainmenu-w-md;
	}
	// .mainmenu-toggle.open {
	// 	left: calc(30vw - 4px);
	// }
}

@media (min-width: $bp-lg) {
	.mainmenu {
		left: -$mainmenu-w-lg;
		width: $mainmenu-w-lg;
	}
	// .mainmenu-toggle.open {
	// 	left: calc(20vw - 4px);
	// }
}
