@import '../util/colors';

.note-picker {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: 1em 0 0;

	div {
		display: inline-block;
		border: 1px solid $primary2;

		text-align: center;
		width: 1.5em;
		height: 1.5em;
		line-height: 1.5em;
		font-size: 0.9em;

		user-select: none;

		&.root { border-color: $gray-darker; }
	}

	label {
		display: block;
	}
	input:not([disabled]) + label {
		cursor: pointer;
	}
	input:checked + label {
		color: $gray;
	}
	input {
		position: absolute;
   		left: -1000px;
	}
}
