@import '../util/colors';
@import '../util/variables';

.panel {
	background-color: $gray-darker;
	border: 2px solid $primary;
	border-radius: 4px;
	box-shadow: 2px 2px 2px 2px $primary2;

	padding: 12px;

	color: $primary;
}

.panel-viewtoggle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	margin-bottom: 1em;

	a {
		text-decoration: none;
		color: $primary2;
		&:hover { color: $primary; }
		&:active { color: $gray-light; }
		&.active { text-decoration: underline; }
	}
}
