
.scale-controls, .chord-controls {
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 1em;

	padding: 1em;
}

@media (min-width: $bp-md) {
	.scale-controls, .chord-controls {
		grid-template-columns: 2fr 3fr;
	}
}

@media (min-width: $bp-xl) {
	.scale-controls, .chord-controls {
		grid-template-columns: repeat(2, 1fr);
	}
}



// .panel-scale-controls {

// }

// .panel-chord-controls {

// }

// .panel-guitar-controls {

// }

.handedness-buttons {
	font-size: 0.8em;
	display: flex;
	margin: 0 4px 0 16px;
}
