@import '../util/variables';

.scalebook, .chordbook {
	display: grid;
	grid-template-columns: 100%;
	min-height: inherit;
}

.scale-controls, .chord-controls {
	display: flex;
	flex-direction: column;
	& > div { flex: auto; }
}

@media (min-width: $bp-md) {
	.scalebook, .chordbook {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.scalebook-horizontal, .chordbook-horizontal {
		.scale-controls, .chord-controls {
			grid-column: span 5;
			grid-row: 1;
			flex-direction: row;
		}
		.guitar {
			grid-column: span 5;
			grid-row: 2;
		}
	}
	.scalebook-vertical, .chordbook-vertical {
		.scale-controls, .chord-controls {
			grid-column: 1 / span 3;
			grid-row: span 2;
		}
		.guitar {
			grid-column: 4 / span 2;
			grid-row: span 2;
		}
	}
}

.handedness-buttons {
	font-size: 0.8em;
	display: flex;
	margin: 0 4px 0 16px;
}
